# Common files
.idea/
.DS_Store
/**/.DS_Store
/node_modules
/**/node_modules
**/**/node_modules

/Clase 01/Profe/Ejercicio
/Clase 01/Profe/Desafío

#/Clase_01
/Clase_02
/Clase_03
/Clase_04
/Clase_05
/Clase_06
/Clase_07
/Clase_08
/Clase_09
/Clase_10_11
/Clase_12
/Clase_13
/Clase_14
/Clase_15
/Clase_16
/Clase_17_18
/Teoria_plataforma